# OS files
.DS_Store
Thumbs.db

# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output / caches
dist/
build/
out/
*.tsbuildinfo
.vite/

# Frontend React / Vite
coverage/
*.cache
public/static/

# IDE / Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Temporary files
*.tmp
*.temp
*.swp
*.bak

# Logs
logs/
*.log

# Ignore large platform-specific binaries
**/node_modules/@next/swc-*.node
